.Title 
    text-transform: uppercase
    width: 530px

.ButtonWrapper 
    display: flex
    justify-content: center

    > button 
        width: 360px
        justify-content: center
        border-radius: var(--border-radius-s)

.CaseList 
    display: flex
    gap: var(--gap)

    padding: var(--big-gap) 0