.Main
    padding-top: 180px
    padding-bottom: 24px
    > div > h1
        position: relative
        z-index: 2

        margin-top: -100px

        text-transform: uppercase
        letter-spacing: -7.68px

.Content
    position: relative
    z-index: 2

    overflow: hidden

    margin: 0 auto
    margin-top: var(--big-gap)
    width: var(--content-width)

    display: flex
    justify-content: space-between
    align-items: center

    transform: translateY(100px)
    opacity: 0
    transition: var(--transition)

.Info 
    display: flex
    align-items: center
    gap: var(--small-gap)

    opacity: var(--opacity)

    > p 
        width: 180px

        line-height: 100%
        font-size: 16px
.Split 
    width: 1px
    height: 44px

    background: var(--primary)
    
.ButtonList 
    display: flex
    gap: var(--small-gap)


.ActiveContent 
    transform: translateY(0)
    opacity: 1

@media (max-height: 1080px) 
    .Main
        padding-top: 140px

@media (max-height: 720px) 
    .Main
        padding-top: 120px

@media (max-width: 980px) 
    .Content
        align-items: flex-start
        flex-direction: column

        gap: var(--gap)

    .ButtonList
        width: 100%
        > button:nth-child(2)
            width: 100%

@media (max-height: 730px)
    .Info 
        justify-content: space-between
        width: 100%
        gap: 0