.SocialCard     
    display: block

    width: 100%
    padding: var(--card-padding)

    background: var(--card-color)
    border-radius: var(--border-radius-s)
   
    > div 
        transition: var(--transition)
        &:hover
            .IconArrow 
                transform: scale(1.2)
                opacity: 1
        > div
            display: flex
            justify-content: space-between

            margin-bottom: var(--gap)
            

.Circle 
    display: flex
    justify-content: center
    align-items: center

    width: 80px
    height: 80px

    background: var(--primary)
    border-radius: 50%

    > img
        width: var(--svg-size-s)
        height: var(--svg-size-s)
        
.IconArrow
    transition: var(--transition)
    opacity: var(--opacity)

@media (max-width: 980px) 
    .SocialCard > div > h3
        font-size: 32px

@media (max-width: 750px) 
    .Circle 
        width: 48px
        height: 48px

        > img
            width: var(--svg-size-xs)
            height: var(--svg-size-xs)

    .SocialCard > div > h3
        font-size: 20px
        letter-spacing: 0

    .IconArrow
        width: 18px
        height: 18px

@media (max-width: 520px) 
    .SocialCard
        padding: var(--gap)

@media (max-width: 420px) 
    .SocialCard > div > h3
        font-size: 16px

@media (max-width: 370px) 
    .SocialCard > div > h3
        font-size: 14px

@media (max-width: 340px) 
    .SocialCard > div > h3
        font-size: 12px