.WhiteWrapper {
    padding: var(--margin) 0;
    width: 100%;

    background: var(--primary);
    border-radius: var(--border-radius-l);

    margin-top: 120px;
}

.WhiteWrapper > div {
    max-width: var(--max-width-content);
    width: var(--content-width);

    margin: 0 auto;
    
    color: var(--accent);

}

@media (max-width: 620px) {
    .WhiteWrapper {
        margin-top: 60px;

        padding-bottom: 20px;
        border-radius: var(--border-radius-m);
    }
}