.titleLetter {
    width: max-content;
    display: inline-block;
    transform: translateY(1.2em) rotate(45deg);
    transition: var(--transition);
}

h1 > span, h2 > span, h3 > span {
    padding-top: 10px;
    overflow: hidden;
    height: 1em;
    display: block;

}

@media (max-width: 730px) {
    h1 > span, h2 > span, h3 > span {
        height: 0.8em;
    }
}